<!--Fichier vue exercices-->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet/document.css">
    <title>BA | Les exercices</title>
</head>

<body>
    <header>
        <div class="nav">
            <nav>
                <p><a class="liennav" href="/">Accueil</a> | <a class="liennav" href="/accueil/synthese">Toutes les synthèses</a> | <a class="liennav" href="/accueil/notesdecours">Toutes les notes de cours</a> | <a class="liennav" href="/accueil/ajoutdocument">Ajouter un autre document</a></p>
            </nav>
        </div>

        <h1>Les exercices</h1>
        <p>Voici ci-dessous la liste des exercices. Vous pouvez également ajouter un exercice grâce au bouton en bas de la page.</p>
    </header>
    
    <main>
        <div class="doc">
            <ul></br>
                <% for(var i = 0; i < listExercices.length; i++){ %>
                <li class="titre"><%= listExercices[i].e_title %></li>
                <li class="codecours">Code du cours : <%= listExercices[i].code_cours %></li></br>
                <li><%= listExercices[i].e_description %></li></br>
                <li><a class="boutondownload" href="fichier.pdf" dowload>Télécharger le fichier PDF</a></li></br>
                <a class="boutons" href="/accueil/exercices/supprimer/<%= listExercices[i]. idexercices%>">Supprimer</a>
                <a class="boutons" href="/accueil/exercices/modifier/<%= listExercices[i]. idexercices%>"> Modifier </a></br>
                </br>
                <% } %>
            </ul>   
        </div>

        </br></br></br>
        <div><a class="boutonajoutdoc" href="/ajoutdocument/exercices">Ajouter un exercice</a></div>
        </br></br></br>
    </main> 
</body>

<!--Il faut afficher les documents ajoutés sous la catégorie Exercices-->

<footer>
    <p>Cette application a été créée par Caroline Eloy</p>
    <p>©Copyright</p>
</footer>

</html>