<!--Fichier vue notes de cours-->

<!DOCTYPE html>
<html lang="fr">

<header>
    <meta charset="utf-8" />
    <title>Notes de cours</title>
</header>

<body>
    <div class="nav">
        <nav>
            <p><a href="/">Accueil</a> | <a href="/accueil/synthese">Synthèses</a> | <a href="/accueil/exercices">Exercices</a> | <a href="/accueil/ajoutdocument">Ajouter un autre document</a></p>
        </nav>
    </div>

    <h1>Notes de cours</h1>

    

    <div class="doc">
        <ul>
            <% for(var i = 0; i < listNotescours.length; i++){ %>
            <li>Titre : <%= listNotescours[i].n_title %></li>
            <li>Code du cours : <%= listNotescours[i].code_cours %></li>
            <li>Identification : <%= listNotescours[i].idstudent %></li>
            <li>Description : <br><%= listNotescours[i].n_description %></li></br>
            <li><a href="fichier.pdf" dowload>Télécharger le fichier PDF<a></li></br>
            <a href="/accueil/notesdecours/modifier/<%= listNotescours[i]. idnotescours%>"> [Modifier] </a>
            <a href="/accueil/notesdecours/supprimer/<%= listNotescours[i]. idnotescours%>">[Supprimer]</a></br>
            <% } %>
        </ul>
    </div>
    

    <div class="boutonajoutdoc"></div><a href="/ajoutdocument/notesdecours">Ajouter une note de cours</a>

</body>

<!--Il faut afficher les documents ajoutés sous la catégorie Notes de cours-->


<footer>
    <p>©Copyright</p>
</footer>

</html>