<!--Fichier vue notes de cours-->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet/document.css">
    <title>BA | Les notes de cours</title>
</head>

<body>
    <header>
        <div class="nav">
            <nav>
                <p><a class="liennav" href="/" tabindex="1">Accueil</a> | <a class="liennav" href="/accueil/synthese" tabindex="2">Toutes les synthèses</a> | <a class="liennav" href="/accueil/exercices" tabindex="3">Tous les exercices</a> | <a class="liennav" href="/accueil/ajoutdocument" tabindex="4">Ajouter un autre document</a></p>
            </nav>
        </div>

        <h1>Les notes de cours</h1>
        <p>Voici ci-dessous la liste des notes de cours. Vous pouvez également ajouter une note de cours grâce au bouton en bas de la page.</p>
    </header>  
    
    <main>
        <div class="doc">
            <ul>
                </br>
                <% for(var i = 0; i < listNotescours.length; i++){ %>
                <li class="titre"><%= listNotescours[i].n_title %></li>
                <li class="codecours">Code du cours : <%= listNotescours[i].code_cours %></li></br>
                <li><%= listNotescours[i].n_description %></li></br>
                <li><a class="boutondownload" href="fichier.pdf" dowload>Télécharger le fichier PDF<a></li></br>
                <a class="boutons" href="/accueil/notesdecours/supprimer/<%= listNotescours[i]. idnotescours%>" tabindex="5">Supprimer</a>
                <a class="boutons" href="/accueil/notesdecours/modifier/<%= listNotescours[i]. idnotescours%>" tabindex="6"> Modifier</a></br>
                </br>
                <% } %>
            </ul>
        </div>
        
        </br></br></br>
        <div><a class="boutonajoutdoc" href="/ajoutdocument/notesdecours" tabindex="7">Ajouter une note de cours</a></div>
        </br></br></br>
    </main>
</body>


<footer>
    <p>Cette application a été créée par Caroline Eloy</p>
    <p>©Copyright</p>
</footer>

</html>