<!--Fichier vue synhtèses-->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet/document.css">
    <title>BA | Les synthèses</title>
</head>

<body>
    <header>
        <div class="nav">
            <nav>
                <p><a class="liennav" href="/" tabindex="1">Accueil</a> | <a class="liennav" href="/accueil/notesdecours" tabindex="2">Toutes les notes de cours</a> | <a class="liennav" href="/accueil/exercices" tabindex="3">Tous les exercices</a> | <a class="liennav" href="/accueil/ajoutdocument" tabindex="4">Ajouter un autre document</a></p>
            </nav>
        </div>

        <h1>Les synthèses</h1>
        <p>Voici ci-dessous la liste des synthèses. Vous pouvez également ajouter une synthèse grâce au bouton en bas de la page.</p>

    </header>

    <main>
        <div class="doc">
            <ul></br>
                <% for(var i = 0; i < listSynthese.length; i++){ %>
                <li class="titre"><%= listSynthese[i].s_title %></li>
                <li class="codecours">Code du cours : <%= listSynthese[i].code_cours %></li></br>
                <li><%= listSynthese[i].s_description %></li></br>
                <li><a class="boutondownload" href="fichier.pdf" dowload>Télécharger le fichier PDF</a></li><br>
                <a class="boutons" href="/accueil/synthese/supprimer/<%= listSynthese[i]. idsynthese%>" tabindex="5">Supprimer</a>
                <a class="boutons" href="/accueil/synthese/modifier/<%= listSynthese[i]. idsynthese%>" tabindex="6">Modifier</a></br>
                </br>
                <% } %>
            </ul>   
        </div>

        </br></br></br> 
        <div><a class="boutonajoutdoc" href="/ajoutdocument/synthese" tabindex="7">Ajouter une synthèse</a></div>
        </br></br></br> 
    </main>
</body>




<footer>
    <p>Cette application a été créée par Caroline Eloy</p>
    <p>©Copyright</p>
</footer>

</html>