<!--Page modification d'exercices-->
<!DOCTYPE html>
<html lang="fr">

<header>
    <meta charset="utf-8" />
    <title>Modification d'exercices</title>
</header>

<body>
    <div class="nav">
        <nav>
            <p>Catégories | Codes de cours | <a href="/">Accueil</a> | <a href="/accueil/ajoutdocument">Retour</a></p>
        </nav>
    </div>

    <h1>Modifier un exercice</h1>

    <div class="formulaire">
        <form action="/accueil/exercices/modifier/" method="POST">
            <input id="idexercices" type="hidden" name="idexercices" value="<%= idexercices %>"></br>
            <label for="e_title">Titre :</label>
            <input id="e_title" type="text" name="e_title" value="<%= e_title %>"><br>
            <label for="code_cours">Code de cours :</label>
            <input id="code_cours" type="text" name="code_cours" value="<%= code_cours %>"><br>
            <label for="idstudent">Identification :</label>
            <input id="idstudent" type="numbers" name="idstudent" value="<%= idstudent %>"><br>
            <label for="e_description">Description :</label>
            <textarea name="e_description" id="e_description" value="<%= e_description %>"></textarea><br>
            <label for="documentPDF">Ajouter un fichier PDF :</label>
            <input type="file" id="fichierPDF" name="fichierPDF" accept=".pdf"><br>

            <input type="submit" name="save" value="Sauver">
            <a href="/accueil/exercices"> <input type="button" value="Retour"></a>
        </form>
    </div>

</body>

<footer>
    <p>©Copyright</p>
</footer>

</html>

