<!--Page ajout de synthèse-->
<!DOCTYPE html>
<html lang="fr">

<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/update.css">
    <title>BA | Modifier une synthèse</title>
</header>

<body>
    <div class="nav">
        <nav>
            <p><a class="liennav" href="/">Accueil</a> | <a class="liennav" href="/accueil/synthese">Retour</a> | <a class="liennav" href="/accueil/ajoutdocument">Ajouter un autre document</a></p>
        </nav>
    </div>

    <h1>Modifier une synthèse</h1>

    <div class="formulaire">
        <form action="/accueil/synthese/modifier/" method="POST">
            <input id="idsynthese" type="hidden" name="idsynthese" value="<%= idsynthese %>"></br>
            <label for="s_title">Titre :</label>
            <input id="s_title" type="text" name="s_title" value="<%= s_title %>"><br>
            <label for="code_cours">Code de cours :</label>
            <input id="code_cours" type="text" name="code_cours" value="<%= code_cours %>"><br>
            <label for="idstudent">Identification :</label>
            <input id="idstudent" type="numbers" name="idstudent" value="<%= idstudent %>"><br>
            <label for="s_description">Description :</label>
            <textarea name="s_description" id="s_description" value="<%= s_description %>"></textarea><br>
            <label for="documentPDF">Ajouter un fichier PDF :</label>
            <input type="file" id="fichierPDF" name="fichierPDF" accept=".pdf"><br>
            
            <input type="submit" name="save" value="Sauver">
            <a href="/accueil/synthese"> <input type="button" value="Retour"></a>
        </form>
    </div>

</body>

<footer>
    <p>Cette application a été créée par Caroline Eloy</p>
    <p>©Copyright</p>
</footer>

</html>
